:root {
    --primary-light: #e1e7e0;
    --primary-dark: #2b4560;
    --accent-light: #6aa4b0;
    --accent-dark: #2f6d80;
    --accent-white: #f9f1f0;
}

html {
    background-color: var(--primary-light);
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    /* background-image: linear-gradient(45deg, var(--primary-light), var(--accent-color)); */
}

body {
    height: 100%;
    width: 100%;
}


.header {
    color: var(--primary-dark);
    font-family: cursive;
    font-size: 32px;
    text-justify: center;
    text-align: center;
}

.content {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}

.grid-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
    justify-content: center;
    align-content: stretch;
}

.grid-row {
    flex: 1 0 auto;
    display: flex;
    justify-content: stretch;
}

.grid-element {
    flex: 1 0 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-style {
    width: 150px;
    height: 50px;
    background-color: var(--accent-light);
    color: var(--primary-dark);
    border: var(--primary-dark) 5px, solid;
    border-radius: 5px;
}

.button-style:hover {
    background-color: var(--accent-dark);
    color: var(--accent-white)
}

.slidecontainer {
    color: var(--primary-dark);
    text-align: center;
}

#gridSlider {
    background-color: var(--primary-dark);
}